.full-width-table {
  width: 100%;
}
table {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #DDD;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #DDD;
}
